header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: red;
    padding: 15px;
}

.header-1{
    display: flex;
    align-items: center;
    
}
.header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-2-inside{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    margin: 0;
    width: 100%;
}